<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- block head %}
  <title>TikTok to Microformats2 Pipe</title>
  {%- endblock %}
  <link rel="stylesheet" href="https://classless.de/classless.css">
</head>

<body>
  <main>
    {%- block content %}
    <h1>TikTok to Microformats2 Pipe</h1>

    <p>This is an <a href="https://indieweb.org/pipes">IndieWeb Pipe service</a> to convert between videos from <a href="https://tiktok.com">TikTok</a> and <a href="https://microformats.io/">Microformats2</a>.</p>

    <ul>
      <li><a href="/video">Convert a video's metadata to a Microformats2 Object</a></li>
    </ul>

    <p>Hosted by <span class="h-card"><a href="https://www.jvt.me/" class="u-url p-name">Jamie Tanna</a></span>, and <a
        href="https://gitlab.com/jamietanna/tiktok-mf2/">Open Source on GitLab.com</a>.</p>

    {%- endblock %}
  </main>
  {%- block scripts %}
  {%- endblock %}
</body>

</html>
