<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- block head %}
  <title>Tiktok to Microformats2 Pipe</title>
  {%- endblock %}
  <link rel="stylesheet" href="https://classless.de/classless.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
</head>

<body>
  <main>
    {%- block content %}
    <h1>Tiktok to Microformats2 Pipe</h1>

    <form action="/video" method="get" id="form">
      <label for="url">Page URL</label>
      <input type="text" name="url" id="url" oninput="onUrlChange(this)" />
      <br>

      <input type="submit" />
    </form>

    <label for="result-url">Microformats2 URL</label>
    <input type="text" style="width: 50%" readonly id="result-url" />

    <p>Copy the URL above and request it using an HTTP client which provides the HTTP <code>Accept</code> header i.e.
      <code>application/json</code>, <code>application/mf2+json</code>,<code>application/*+json</code>.</p>

    <script>
      document.getElementById('result-url').value = window.location.href
    </script>

    <script>
      function onUrlChange(e) {
        const feedUrl = new URL(document.getElementById('form').action)
        feedUrl.searchParams.set('url', e.value)
        document.getElementById('result-url').value = feedUrl
      }
    </script>

    <noscript>
      You do not have JavaScript enabled, so please use the URL in the browser as the URL to add to your Calendar app.
    </noscript>

    {% if mf2 %}
    <details>
      <summary>
        Parsed Microformats2 Preview
      </summary>

      <p>A preview of the Microformats2 representation can be found below:</p>

      <pre>
{{mf2 | dump(4) | highlight | safe }}
      </pre>
    </details>
    {% endif %}

    {%- endblock %}
  </main>
  {%- block scripts %}
  {%- endblock %}
</body>

</html>
