<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TikTok to Microformats2 Pipe Logs</title>
  <link rel="stylesheet" href="https://classless.de/classless.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <style>
    :root {
      --width: 100%;
    }

    body {
      font-family: monospace;
    }

    .info {
      color: blue;
    }

    .error {
      color: red;
    }

    .warn {
      color: orange;
    }
  </style>
</head>

<body>

  <h1>Logs</h1>

  {% for log in logs %}
  {% include "log.njk" %}
  {% endfor %}

</body>

</html>
