<details>
  <summary>
    {{log.published}} |
    <span class="{{log.type.toLowerCase()}}">{{log.type.toUpperCase()}}</span> |
    {{log.message | messageTitle}}
  </summary>
  ID {{log.id}}

<pre>
{{log | dump(4) | highlight | safe }}
</pre>
</details>
